name: Publish Helm Chart to ACR

on:
  push:
    branches: [ "main" ]
    paths:
      - '/**'
  workflow_dispatch: # Manual trigger

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Helm Registry (SPN)  # ashwintjamesregistry.azurecr.io
        run: |
          helm registry login ${{ secrets.ACR_LOGIN_SERVER }} \
            --username ${{ secrets.AZURE_CLIENT_ID }} \
            --password ${{ secrets.AZURE_CLIENT_SECRET }}

      - name: Package and Push
        run: |
          CHART_NAME="webservice"
          # Get version from Chart.yaml
          VERSION=$(grep 'version:' ./$CHART_NAME/Chart.yaml | awk '{print $2}')
          
          # Package chart into a .tgz file
          helm package ./$CHART_NAME
          
          # Push to OCI registry in ACR
          helm push ${CHART_NAME}-${VERSION}.tgz oci://${{ secrets.ACR_LOGIN_SERVER }}/helm